.places {
  display: grid;
  max-width: 987px;
  margin: 92px auto 90px auto;
  grid-row-gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 0 auto 90px auto;
    grid-row-gap: 72px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    max-width: 500px;
    grid-row-gap: 130px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 0 auto 65px auto;
    grid-row-gap: 50px;
  }
}
